imutils==0.5.4
mss==10.0.0
numpy==2.2.1
opencv_python==4.10.0.84
PyAutoGUI==0.9.54
pynput==1.7.7
pywin32==308
pyWinhook==1.6.2
pyWinhook==1.6.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
tf_keras==2.18.0
ultralytics==8.3.54
